spring:
#  profiles:
#    active: native
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/191720653/springcloud-config
          search-paths: config
      label: master
server:
  port: 8090
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8081/eureka/